<div class="test-card">
    <img src="images/logo.png">
    <div class="name">
        <a id="<%= test.id %>" class="test-link" href="test.html"><h3><%= test.name %></h3></a>
        <span class="category"><%= test.category %></span>
    </div>
    <!--<a id="<%= JSON.stringify(test.questions) %>" class="test-link" href="test.html"><h3><%= test.name %></h3></a>-->
    <span><%= test.description %></span>
</div>

